---
//props
interface Props {
  slug: string;
  title: string;
  tags: string[];
  id: string | number;
}

const { slug, title, tags, id } = Astro.props;
---

<a href={`/compendium/${slug}`}>
  <article>
    <div>
      <h2>{title}</h2>
      <div class="tags-container">
        {
          tags.map((tag, index) => (
            <>
              <span class="tag">{tag}</span>
              {index < tags.length - 1 && <span class="separator">/</span>}
            </>
          ))
        }
      </div>
    </div>
    <div>
      <p>{id}</p>
    </div>
  </article>
</a>

<style>
  article {
    padding: var(--space-s);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h2 {
    font-size: var(--step-2);
    font-weight: 600;
    margin-bottom: var(--space-m);
    color: black;
  }

  span {
    font-size: var(--step--2);
    font-weight: 700;
    color: var(--clr-text);
    text-transform: uppercase;
  }

  .separator {
    font-size: var(--step--2);
    font-weight: 400;
  }

  p {
    font-size: var(--step-3);
    font-weight: 600;
    color: var(--clr-text);
  }
</style>
