---
//props
interface Props {
  slug: string;
  title: string;
  tags: string[];
  id: string | number;
}

const { slug, title, tags, id } = Astro.props;
---

<a href={`/compendium/${slug}`}>
  <article>
    <div>
      <h2>{title}</h2>
      {tags.map((tag) => <span>{tag} </span>)}
    </div>
    <div>
      <p>{id}</p>
    </div>
  </article>
</a>

<style>
  article {
    padding: var(--space-s);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h2 {
    font-size: var(--step-2);
    font-weight: 600;
    margin-bottom: var(--space-m);
    color: black;
  }

  span {
    font-size: var(--step--2);
    font-weight: 500;
    color: var(--clr-text);
    text-transform: uppercase;
  }

  p {
    font-size: var(--step-3);
    font-weight: 600;
    color: var(--clr-text);
  }
</style>
