---
export const prerender = true;

import RecipeLayout from "@layouts/RecipeLayout.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes", ({ data }) => !data.isDraft);

  return recipes.map((recipe) => {
    return {
      params: { recipe: recipe.data.slug },
      props: { recipe },
    };
  });
}

const { recipe } = Astro.props;
console.log(recipe);
---

<RecipeLayout title={recipe.data.title}>
  <main>
    <section>
      <h1>{recipe.data.title}</h1>
      <p>{recipe.data.description}</p>
      {recipe.data.tags?.map((tag) => <span>{tag} </span>)}
    </section>
    <section>
      <h2>Ingredients</h2>
      <ul>
        {
          recipe.data.ingredients.map((ingredient) => (
            <li>{}</li>
          ))
        }
      </ul>
    </section>
  </main>
</RecipeLayout>
