---
export const prerender = true;

import RecipeLayout from "@layouts/RecipeLayout.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes", ({ data }) => !data.isDraft);

  return recipes.map((recipe) => {
    return {
      params: { recipe: recipe.data.slug },
      props: { recipe },
    };
  });
}

const { recipe } = Astro.props;
console.log(recipe);
---

<RecipeLayout title={recipe.data.title}>
  <div>
    <h1>{recipe.data.description}</h1>
    <h2>This is a test</h2>
  </div>
</RecipeLayout>
