---
//layouts
import BaseLayout from "@layouts/BaseLayout.astro";

//components
import Hero from "@components/landing/Hero.astro";
---

<BaseLayout title="Astro Minimal Starter">
  <main class="wrapper-main margin-center">
    <Hero />
  </main>
</BaseLayout>
